global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector:8889']

  - job_name: 'grafana-agent'
    static_configs:
      - targets: ['grafana-agent:8889']